.page-footer {
  background-color: var(--primary-text-color);
}

.footer-logo {
  color: var(--light-background);
}

.footer-text {
  color: var(--light-background);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
